<div class="row">
  <div class="col-md-6">
    <h3>February 28 (Shell)</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>8:00</td>  <td>Shell: Introduction, Navigating and Working with Files and Directories (Part 1)</td> </tr> <!-- Episodes 1-3 -->
      <tr> <td>9:10</td>  <td>Break</td> </tr>
      <tr> <td>9:20</td>  <td>Shell: Navigating and Working with Files and Directories (Part 2), Pipes, Filters, Loops (Part 1)</td> </tr> <!-- Episodes 3-5 -->
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:40</td>  <td>Shell: Loops (Part 2), Scripts</td> </tr> <!-- Episodes 5-6 -->
      <tr> <td>11:50</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>March 7 (Shell, Git)</h3>
    <table class="table table-striped">
      <tr> <td>8:00</td>  <td>Shell: Finding Things</td> </tr> <!-- Episode 7 -->
      <tr> <td>8:45</td>  <td>Git: Version Control, Setup, Creating Repositories</td> </tr> <!-- Episodes 1-3 -->
      <tr> <td>9:10</td>  <td>Break</td> </tr>
      <tr> <td>9:20</td>  <td>Git: Tracking Changes, Exploring History, Ignoring Things, Remotes (Part 1)</td> </tr> <!-- Episodes 4-7 -->
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:40</td>  <td>Git: Remotes (Part 2), Conflicts, Open Science</td> </tr> <!-- Episodes 7-10 -->
      <tr> <td>11:30</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>March 28 (Git, Python)</h3>
    <table class="table table-striped">
      <tr> <td>8:00</td>  <td>Git: Licensing, Citation, Hosting</td> </tr> <!-- Episodes 11-13 -->
      {% if site.flavor == "r" %}
      <tr> <td>8:15</td>  <td>TBD</td> </tr>
      {% elsif site.flavor == "python" %}
      <tr> <td>8:15</td>  <td>Python: Running/Quitting, Variables and Assignment, Data Types and Conversion</td> </tr> <!-- Episodes 1-3 -->
      <tr> <td>9:10</td>  <td>Break</td> </tr>
      <tr> <td>9:20</td>  <td>Python: Built-In Functions and Help, Libraries, Reading Tabular Data</td> </tr> <!-- Episodes 4-6 -->
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:40</td>  <td>Python: DataFrames, Plotting, Lists (Part 1)</td> </tr> <!-- Episodes 7-9 -->
      {% else %}
      {% include warning-flavor.html %}
      {% endif %}
      <tr> <td>11:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>April 4 (Python)</h3>
    <table class="table table-striped">
      {% if site.flavor == "r" %}
      <tr> <td>8:00</td>  <td>TBD</td> </tr>
      {% elsif site.flavor == "python" %}
      <tr> <td>8:00</td>  <td>Lists (Part 2), Loops, Conditionals (Part 1)</td> </tr> <!-- Episodes 9-11 -->
      <tr> <td>9:10</td>  <td>Break</td> </tr>
      <tr> <td>9:20</td>  <td>Conditionals (Part 2), Looping, Writing Functions, Variable Scope</td> </tr> <!-- Episodes 11-13 -->
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:40</td>  <td>Programming Style, Wrap-up, Feedback</td> </tr> <!-- Episodes 14-16 -->
      {% else %}
      {% include warning-flavor.html %}
      {% endif %}
      <tr> <td>11:45</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>11:45</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
